# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# Environment variables
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases & SQLite
*.db
*.db-journal
server/prisma/dev.db
server/prisma/dev.db-journal

# Editor and OS files
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
